/* Reset default styles
---------------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Global stayle
---------------------------------------------------------------*/
:root {
    --white: #FFFFFF;
    --red: #FF6565;
    --black: #071629;
}
@font-face {
    font-family: 'Source sans pro';
    src: url(font/SourceSansPro-Regular.otf);
}
html,
body {
overflow-x: hidden;
}

/* Header section styles
----------------------------------------------------------------*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    width: 11.25rem;
    height: 2.25;
}
.nav-link {
    display: flex;
    list-style: none;
}

.nav-link li {
    padding-left: 1.5rem;
}

.nav-link li a {
    text-decoration: none;
    font-family: 'Source sans pro';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
}

.nav-link li a:hover {
    color: var(--red);
}

/* Toggle Menu style
===================================================================*/
.checkbox, .menu-icon {
    display: none;
}
.checkbox + .menu-icon .menu-line {
    position: absolute;
    left: 5%;
    width: 18px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: all .2s;
    cursor: pointer;
}
.checkbox + .menu-icon .menu-line::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transform: translateY(-8px);
    display: block;
    transition: all .2s;
    cursor: pointer;
}
.checkbox + .menu-icon .menu-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transform: translateY(8px);
    display: block;
    transition: all .2s;
    cursor: pointer;
}
.checkbox:checked + .menu-icon .menu-line {
    transform: translateX(-18px);
    background: transparent;
}

.checkbox:checked + .menu-icon .menu-line::before {
    transform: rotate(45deg) translate(15px, -15px);
}

.checkbox:checked + .menu-icon .menu-line::after {
    transform: rotate(-45deg) translate(15px, 15px);
}
/* Call to action part
===================================================================*/
.call-to-action {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    place-content: center;
    top: 45%;
    left: 33%;
    display: flex;
    width: 39.8rem;
    height: 19.56rem;
}
.call-to-action h1 {
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.call-to-action p {
    color: var(--white);
    font-family: 'Source sans pro';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63rem;
    text-align: center;
}
.call-to-action h3 {
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn {
    margin-top: 2.5rem;
    margin-bottom: 4.06rem;
    width: 10.125rem;
    height: 2.75rem;
    border-radius: 24px;
    background-color: var(--red);
    color: var(--white);
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style: none;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Responsive header Media queries 
============================================================================ */
@media only screen and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    header {
        background: url(images/headphones_hero_1.jpg) no-repeat 35% 0;
    }
    .call-to-action {
        position: unset;
        margin-left: 68px;
        margin-top: 325px;
    }
}

/* Responsive header Media queries for width<480
============================================================================ */
@media only screen  and (max-width: 480px) {
    html {
        font-size: 75.8%;
    }

    .container {
        top: 35%;
    }

    header {
        background: url(images/headphones_hero_1.jpg) no-repeat 35% 0;
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .checkbox + .menu-icon + nav .nav-link {
        flex-direction: column;
        justify-content: space-around;
        display: none;
    }

    .checkbox:checked + .menu-icon + nav .nav-link {
        display: flex;
    }

    .checkbox:checked + .menu-icon + nav + .call-to-action {
        top: 60%;
    }
    
    .nav-link li {
        margin: 2rem;
    }
    
    .logo {
        margin-top: 2.5rem;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 5.7%; 
        left: 10%;
    }
    .call-to-action {
        position: unset;
        top: 19rem;
        width: 22.31rem;
        height: 27.27rem;
        margin-left: 0 auto;
    }
    .call-to-action h1 {
        width: 357px;
        height: 80px;
    }
    .call-to-action h3 {
        width: 279px;
        height: 40px;
    }
    .call-to-action p {
        width: 335px;
        height: 182px;
    }
}