/* Reset default styles
---------------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Global stayle
---------------------------------------------------------------*/
:root {
    --white: #FFFFFF;
    --red: #FF6565;
    --black: #071629;
}
@font-face {
    font-family: 'Source sans pro';
    src: url(font/SourceSansPro-Regular.otf);
}
html,
body {
overflow-x: hidden;
}

/* Header section styles
----------------------------------------------------------------*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    width: 11.25rem;
    height: 2.25;
}
.nav-link {
    display: flex;
    list-style: none;
}

.nav-link li {
    padding-left: 1.5rem;
}

.nav-link li a {
    text-decoration: none;
    font-family: 'Source sans pro';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
}

.nav-link li a:hover {
    color: var(--red);
}

/* Toggle Menu style
===================================================================*/
.checkbox, .menu-icon {
    display: none;
}
.checkbox + .menu-icon .menu-line {
    position: absolute;
    left: 5%;
    width: 18px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: all .2s;
    cursor: pointer;
}
.checkbox + .menu-icon .menu-line::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transform: translateY(-8px);
    display: block;
    transition: all .2s;
    cursor: pointer;
}
.checkbox + .menu-icon .menu-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transform: translateY(8px);
    display: block;
    transition: all .2s;
    cursor: pointer;
}
.checkbox:checked + .menu-icon .menu-line {
    transform: translateX(-18px);
    background: transparent;
}

.checkbox:checked + .menu-icon .menu-line::before {
    transform: rotate(45deg) translate(15px, -15px);
}

.checkbox:checked + .menu-icon .menu-line::after {
    transform: rotate(-45deg) translate(15px, 15px);
}
/* Call to action part
===================================================================*/
.call-to-action {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    place-content: center;
    top: 45%;
    left: 33%;
    display: flex;
    width: 39.8rem;
    height: 19.56rem;
}
.call-to-action h1 {
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.call-to-action p {
    color: var(--white);
    font-family: 'Source sans pro';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63rem;
    text-align: center;
}
.call-to-action h3 {
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn {
    margin-top: 2.5rem;
    margin-bottom: 4.06rem;
    width: 10.125rem;
    height: 2.75rem;
    border-radius: 24px;
    background-color: var(--red);
    color: var(--white);
    color: var(--white);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style: none;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
 
/* "What we do..." section styles
=====================================================================*/
main {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
    margin-left: 28%;
    margin-right: 26%;
    margin-top: 110px;
}

.section-container h1 {
    color: #071629;
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-container p {
    margin-top: 30px;
    color: var(--black);
    text-align: center;
    font-family: 'Source sans pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    font-family:'Source sans pro';
    color: #071629;
    text-align: center;
    max-width: 62.5rem;
    margin-top: 94px;
    margin-left: 23.88rem;
    margin-right: 23.81rem;

}
.grid-container div {
    margin-left: 55px;
}

.grid-container div h4 {
    width: 12.94rem;
    height: 1.63rem;
    margin-top: 0.94rem;
    margin-bottom: 10px;
    color: #071629;
    text-align: center;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.63rem;
}
.grid-container div p {
    color: #071629;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
div>img {
    width: 3.5rem;
    height: 4rem;
    color: var(--red);
}
/* Responsive header Media queries 
============================================================================ */
@media only screen and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    header {
        background: url(images/headphones_hero_1.jpg) no-repeat 35% 0;
    }
    .call-to-action {
        position: unset;
        margin-left: 68px;
        margin-top: 325px;
    }
    /* Responsive media queries for what we do...section
    ======================================================================== */
    .first-section {
        width: 768px;
        height: 968px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .section-container {
        margin-left: 4.13rem;
        margin-top: 6.88rem;
        width: 630px;
    }
    .grid-container {
        display: grid;
        margin-left: 140px;
        grid-template-columns: 190px 190px;
        grid-template-rows: 175px 175px;
        row-gap: 97px;
        column-gap: 58px;
    }
    .grid-container>div {
        width: 207px;
        height: 180px;
    }



}

/* Responsive header Media queries for width<480
============================================================================ */
@media only screen  and (max-width: 480px) {
    html {
        font-size: 75.8%;
    }

    .container {
        top: 35%;
    }

    header {
        background: url(images/headphones_hero_1.jpg) no-repeat 35% 0;
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .checkbox + .menu-icon + nav .nav-link {
        flex-direction: column;
        justify-content: space-around;
        display: none;
    }

    .checkbox:checked + .menu-icon + nav .nav-link {
        display: flex;
    }

    .checkbox:checked + .menu-icon + nav + .call-to-action {
        top: 60%;
    }
    
    .nav-link li {
        margin: 2rem;
    }
    
    .logo {
        margin-top: 2.5rem;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 5.7%; 
        left: 10%;
    }
    .call-to-action {
        position: unset;
        top: 19rem;
        width: 22.31rem;
        height: 27.27rem;
        margin-left: 0 auto;
    }
    .call-to-action h1 {
        width: 357px;
        height: 80px;
    }
    .call-to-action h3 {
        width: 279px;
        height: 40px;
    }
    .call-to-action p {
        width: 335px;
        height: 182px;
    }
       /* Responsive media queries for what we do...section
     ======================================================================== */
    .section-container {
        margin-left: 1.5rem;
        margin-top: 6.2rem;
        width: 332px;
    }
    .first-section {
        width: 375px;
        height: 1530px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .grid-container {
        display: grid;
        margin-left: 140px;
        row-gap: 5.4rem;
        grid-template-columns: 190px;
        grid-template-rows: 175px;
    }
    .grid-container>div {
        width: 207px;
        height: 180px;
    }
            

}